@import "bootstrap/dist/css/bootstrap.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px;
    font-weight: 400;
    line-height: 1, 5;
}
body {
    background-color: #f5f2f0;
}
