.markdown p {
    background-color: #f5f2f0;
    padding: 10px;
    border-left: 3px solid #f92672;
}
.markdown ul {
    background-color: #f5f2f0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 3px solid gray;
}
.markdown ul ul {
    border: 0;
}
.markdown div {
    border-left: 3px solid #0dcaf0;
}
.markdown h5,
h4,
h3,
h2,
h1 {
    color: white;
    font-style: italic;
    padding: 10px;
    background-color: #f92672;
}
